#muestro-hora{
  background: black;
  padding: 12px 0 12px 0;
  margin: 30em 35em 0 35em;
  border-radius: 5px;
  color: green;
  text-align: center;
}

body{
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
