#muestro-hora{
  background: black;
  margin: 0px 560px 0px 560px;
  border-radius: 5px;
  color: green;
  text-align: center;
}

body{
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#botonMusica{
  width: 9%;
}
#marcianito{
  margin: 380.8px 560px 0 560px;
  width: 9%;
}
div{
  text-align: center;
}
